
.titulo img{
    width: 70px;             
    height: 70px;
    object-fit: contain;
    }
    
 .studentId{
        display: flex;
        gap: 5px;
        flex-direction: column;
	    width: 400px;       
    	margin: auto; 
    }